---
import Counter from '../../components/counter';
import AboutLayout from '../../layouts/AboutLayout.astro';
// const counter = useStore(Counter)

---


<AboutLayout subtitle="nested">
    <h2 class="text-white text-3xl">About layout nested</h2>
<Counter client:visible transition:name="about"  transition:persist/>

</AboutLayout>